[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
pymysql = "*"
faker = "*"
flask-moment = "*"
bootstrap-flask = "*"
flask-wtf = "*"
email-validator = "*"
flask-ckeditor = "*"
flask-login = "*"
flask-markdown = "*"
markdown = "*"
flask-cors = "*"
pillow = "*"

[dev-packages]
flask-sqlacodegen = "*"
faker = "*"
httpie = "*"

[requires]
python_version = "3.8"
