{% extends 'base.html' %}

{% block title %}List of thanks{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>List of thanks</h1>
    </div>
    <br><br>
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item list-group-item-primary">Terrence</li>
                <li class="list-group-item list-group-item-success">9527</li>
                <li class="list-group-item list-group-item-warning">4399</li>
                <li class="list-group-item list-group-item-info">[The next is <strong>YOU</strong>, just comment or advise to Histranger.]</li>
            </ul>
        </div>
    </div>
    <br>
{% endblock %}
